/*-------Variables-------*/

:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /*warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/*---Header---*/
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    width: 100%;
}

/*---Main Reset---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---Body---*/
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}

header,
main,
footer {
    max-width: 840px;
    width: 90%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    padding: 15px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

/*---Hero---*/
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 30px;
    padding: 20px;
    background: rgba(0, 0, 0, .60);
    color: #fff;
}

/*---Floating Image */
.hero article img {
    float: right;
    width: 125px;
    margin: 20px;
    border: 2px solid #264653;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    margin-left: 15px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

/*---Section---*/
section {
    padding: 40px 20px;
}

section h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

.socialmedia {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socialmedia img {
    width: 35px;
    height: 35px;
}